:root {
    --pc: 001%;
    --px: 01px;
    --fr: 01fr;
    --rm: 1rem;

    --vw: 100vw;
    --vh: 100vh;

    --b: 01.6;
    --base: var(--b) * var(--px);
    --s: 62.5;
    --scale: var(--s) * var(--px);

    --_1: calc(var(--b) * var(--s));
    --_2: calc(var(--_1) / 2);
    --_3: calc(var(--_1) / 3);
    --_4: calc(var(--_1) / 4);

    --_xs: calc(var(--b) + 0.4);
    --_sm: calc(var(--_xs) * 2);
    --_md: calc(var(--_sm) * 2);
    --_lg: calc(var(--_md) * 2);

    --_1x: calc(var(--_lg) * 2);
    --_2x: calc(var(--_1x) * 2);
    --_3x: calc(var(--_2x) * 2);
    --_4x: calc(var(--_3x) * 2);
    --_5x: calc(var(--_4x) * 2);
    --_6x: calc(var(--_5x) * 2);
    --_7x: calc(var(--_6x) * 2);
    --_8x: calc(var(--_7x) * 2);
    --_9x: calc(var(--_8x) * 2);
}