$vip: "!important";
$box: border-box;

$vw: 100vw;
$vh: 100vh;

@mixin hide() {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
}

@mixin b($_: 1px, $c: black) {
    border: $_ solid $c;
}

// $xs:           0.4rem;  .xs{font-size: $xs;}
// $sm:    calc($xs * 2);  .sm{font-size: $sm;}
// $md:    calc($sm * 2);  .md{font-size: $md;}
// $lg:    calc($md * 2);  .lg{font-size: $lg;}
// $xl:    calc($lg * 2);  .xl{font-size: $xl;}

// $_1x:   calc($lg  * 2); ._1x{font-size: $_1x;}
// $_2x:   calc($_1x * 2); ._2x{font-size: $_2x;}
// $_3x:   calc($_2x * 2); ._3x{font-size: $_3x;}
// $_4x:   calc($_3x * 2); ._4x{font-size: $_4x;}

// $_5x:   calc($_4x * 2); ._5x{font-size: $_5x;}
// $_6x:   calc($_5x * 2); ._6x{font-size: $_6x;}
// $_7x:   calc($_6x * 2); ._7x{font-size: $_7x;}
// $_8x:   calc($_7x * 2); ._8x{font-size: $_8x;}
// $_9x:   calc($_8x * 2); ._9x{font-size: $_9x;}

@function uq($_) {
    @return unquote($_);
}

/* @mixin                          base(){
  min-height:                   $min_h;
  max-height:                   $max_h;
  min-width:                    $min_w;
  max-width:                    $max_w;
  height:                         100%;
  margin:                         auto;
} */

@mixin iosTextSizeAdjust($x) {
    -webkit-text-size-adjust: $x;
    -ms-text-size-adjust: $x;
}

@mixin typography($ff) {
    font-family: $ff;
    font-size: $font;
}

@mixin m($t, $r, $b, $l, $_: auto) {
    @if $_ != auto {
        $t: $_;
        $r: $_;
        $b: $_;
        $l: $_;
        margin: m($t) m($r) m($b) m($l);
    } @else {
        margin: m($t) m($r) m($b) m($l);
    }
}

@mixin p($t, $r, $b, $l, $_: auto) {
    @if $_ != auto {
        $t: $_;
        $r: $_;
        $b: $_;
        $l: $_;
        padding: p($t) p($r) p($b) p($l);
    } @else {
        padding: p($t) p($r) p($b) p($l);
    }
}
@mixin w($min, $max, $_) {
    min-width: $min;
    max-width: $max;
    width: $_;
}

@mixin h($min, $max, $_) {
    min-height: $min;
    max-height: $max;
    height: $_;
}

/*
@function sk($M02, $M03, $M05, $M07, $M09, $M10){

  @if $M02 != 0 {@return($M02 * 1deg); // M02. skewX on Z
  }@else {@return ($M02: 0)}

  @if $M03 != 0 {@return($M03 * 1deg); // M03. skewX on Y
  }@else {@return ($M03: 0)}

  @if $M05 != 0 {@return($M05 * 1deg); // M05. skewY on Z
  }@else {@return ($M05: 0)}

  @if $M07 != 0 {@return($M07 * 1deg); // M07. skewY on X
  }@else {@return ($M07: 0)}

  @if $M09 != 0 {@return($M09 * 1deg); // M09. skewZ on Y
  }@else {@return ($M09: 0)}

  @if $M10 != 0 {@return($M10 * 1deg); // M10. skewZ on X
  }@else {@return ($M10: 0)}

}
@function sc($M01, $M06, $M11){

  @if $M01 != 0 {@return($M01); // M01. scaleX
  }@else {@return ($M01: 0)}

  @if $M06 != 0 {@return($M06); // M06. scaleY
  }@else {@return ($M06: 0)}

  @if $M11 != 0 {@return($M11); // M11. scaleZ
  }@else {@return ($M11: 0)}

}
@function tr($M04,$M08,$M12){

  @if $M04 != 0 {@return($M04); // M04. translateX
  }@else {@return ($M04: 0)}

  @if $M04 != 0 {@return($M08); // M08. translateY
  }@else {@return ($M08: 0)}

  @if $M04 != 0 {@return($M12); // M12. translateZ
  }@else {@return ($M12: 0)}

}
@function pe($M13, $M14, $M15){

  @if $M13 != 0 {@return($M13); // M13. perspectiveX
  }@else {@return ($M13: 0)}

  @if $M14 != 0 {@return($M14); // M14. perspectiveY
  }@else {@return ($M14: 0)}

  @if $M15 != 0 {@return($M15); // M15. perspectiveZ
  }@else {@return ($M15: 0)}

}
@mixin matrix(

  $sc: sc($x, $y, $z),
  $tr: tr($x, $y, $z),
  $pe: pe($x, $y, $z),
  $sk: sk($xz, $xy, $yz, $yx, $zy, $zx)
){

 transform:  matrix3d(

      $M01: sc($x), $M02, $M03, $M04,
      $M05, $M06, $M07, $M08,
      $M09, $M10, $M11, $M12,
      $M13, $M14, $M15, $M16

  )
}
*/

// @include matrix(scale(0, 1, 4), translate(9, 2, 2), perspective(4, 4, 2), skew(1, 7, 4, 8, 3, 1))
// transition property and cubic-bezeir

// M01. scaleX      M05. skewY on Z  M09. skewZ on Y  M13. perspectiveX
// M02. skewX on Z  M06. scaleY      M10. skewZ on X  M14. perspectiveY
// M03. skewX on Y  M07. skewY on X  M11. scaleZ      M15. perspectiveZ
// M04. translateX  M08. translateY  M12. translateZ  M16. all
