@import url("size.css");
@import url("rgba.css");

:root {
    --box: border-box;

    --a: auto;
    --c: center;

    --sb: space-between;
    --sa: space-around;
    --fs: flex-start;
    --fe: flex-end;
    --_c: var(--c);

    --row: row;
    --col: column;
}
