@function       bg($_){
    @return uq(
                'rgb(#{$_})'
    );
}

@function       fg($_){
    @return uq(
                'rgb(#{$_})'
    );
}

@mixin                  ampm($bg, $fg){
    
    @if                 $dark-mode == true{

      $bg:                           $pm;
      $fg:                           $am;
  
      background-color:          bg($bg);
      color:                     fg($fg);
  
    }@else if          $dark-mode == false{

      $bg:                           $am;
      $fg:                           $pm;
  
      background-color:          bg($bg);
      color:                     fg($fg);
  
    }@else                              {
      background-color:          bg($bg);
      color:                     fg($fg);
    }
  }
  
  @mixin   bg($_: _, $bg, $fg, $url: ''){
  
    @if $_ == _ {
      $_:                      100% 100%;
    }@else if $_ == x {
      $_:                      auto 100%;
    }@else if $_ == y {
      $_:                      100% auto;
    }@else {
      $_:                      auto auto;
    }
  
    background:                url($url);
    background-repeat:         no-repeat;
    background-size:                  $_;
    background-position:   center center;
    @include               ampm($bg,$fg);
  
  }