$row:              row;
$col:           column;

$fc:            center;
$fe:          flex-end;
$fs:        flex-start;
$sb:     space-between;
$sa:      space-around;



@function       ff($_){ 
    @if        $_ == $sb{
             @return $sb;
    }@else if  $_ == $sa{
             @return $sa;
    }@else if  $_ == $fs{
             @return $fs;
    }@else if  $_ == $fe{
             @return $fe;
    }@else if  $_ == $_c{
             @return $_c;
    }@else              {
              @return $_;
    }
  }
    
  @mixin                           j($_){
    justify-content:              ff($_);
  }
  @mixin                          as($_){
    align-self:                   ff($_);
  }
  @mixin                          ac($_){
    align-content:                ff($_);
  }
  @mixin                          ai($_){
    align-items:                  ff($_);
  } 
  
  @mixin             f($d: flex, $f, $j){
    display:                          $d;
    flex-flow:                        $f;
    @include                       j($j);
  }