

$clr: transparent;

$m_1: 245,244,243;
$m_2: 212,211,210;
$m_3: 179,178,178;
$m_4: 148,147,146;
$m_5: 117,117,116;
$m_6: 088,088,088;
$m_7: 061,061,061;
$m_8: 024,023,023;
$m_9: 008,008,008;

// RED - MGT - PNK
$r_1: 255,205,210;
$r_2: 239,154,154;
$r_3: 248,187,208;
$r_4: 242,156,173;
$r_5: 236,125,139;
$r_6: 231,094,104;
$r_7: 213,000,000;
$r_8: 120,015,011;
$r_9: 074,022,016;

// BRWN - ORG - CRM
$o_1: 255,224,178;
$o_2: 255,204,128;
$o_3: 255,183,077;
$o_4: 255,167,038;
$o_5: 255,152,000;
$o_6: 251,140,000;
$o_7: 245,124,000;
$o_8: 239,108,000;
$o_9: 230,081,000;

 // GOLD - YLW - TAN
$y_1: 255,252,168;
$y_2: 255,248,153;
$y_3: 255,241,112;
$y_4: 255,232,071;
$y_5: 255,221,031;
$y_6: 255,215,010;
$y_7: 245,200,000;
$y_8: 224,182,000;
$y_9: 204,163,000;

// PINE - SAGE - MINT
$g_1: 235,255,168;
$g_2: 219,255,153;
$g_3: 197,247,121;
$g_4: 170,236,090;
$g_5: 140,223,063;
$g_6: 107,206,039;
$g_7: 079,172,032;
$g_8: 053,138,025;
$g_9: 032,104,018;

 // BLU - CYN
$b_1: 187,222,251;
$b_2: 144,202,249;
$b_3: 100,181,246;
$b_4: 066,165,245;
$b_5: 033,150,243;
$b_6: 030,136,229;
$b_7: 025,118,210;
$b_8: 021,101,192;
$b_9: 013,071,161;

$i_1: 178,235,242;
$i_2: 128,222,234;
$i_3: 077,208,225;
$i_4: 038,198,218;
$i_5: 000,188,212;
$i_6: 000,172,193;
$i_7: 000,151,167;
$i_8: 000,131,143;
$i_9: 000,096,100;

$v_1: 255,190,231;
$v_2: 206,147,216;
$v_3: 186,104,200;
$v_4: 171,071,188;
$v_5: 156,039,176;
$v_6: 142,036,170;
$v_7: 123,031,161;
$v_8: 106,027,154;
$v_9: 074,020,140;

$h_1: 253,245,234;
$h_2: 241,208,187;
$h_3: 225,172,142;
$h_4: 204,139,100;
$h_5: 179,107,061;
$h_6: 141,082,047;
$h_7: 105,059,036;
$h_8: 069,038,025;
$h_9: 037,018,012;



$_: (
    $r_1: #{$r_1},
    $r_2: #{$r_2},
    $r_3: #{$r_3},
    $r_4: #{$r_4},
    $r_5: #{$r_5},
    $r_6: #{$r_6},
    $r_7: #{$r_7},
    $r_8: #{$r_8},
    $r_9: #{$r_9},

    $o_1: #{$o_1},
    $o_2: #{$o_2},
    $o_3: #{$o_3},
    $o_4: #{$o_4},
    $o_5: #{$o_5},
    $o_6: #{$o_6},
    $o_7: #{$o_7},
    $o_8: #{$o_8},
    $o_9: #{$o_9},

    $y_1: #{$y_1},
    $y_2: #{$y_2},
    $y_3: #{$y_3},
    $y_4: #{$y_4},
    $y_5: #{$y_5},
    $y_6: #{$y_6},
    $y_7: #{$y_7},
    $y_8: #{$y_8},
    $y_9: #{$y_9},

    $g_1: #{$g_1},
    $g_2: #{$g_2},
    $g_3: #{$g_3},
    $g_4: #{$g_4},
    $g_5: #{$g_5},
    $g_6: #{$g_6},
    $g_7: #{$g_7},
    $g_8: #{$g_8},
    $g_9: #{$g_9},

    $b_1: #{$b_1},
    $b_2: #{$b_2},
    $b_3: #{$b_3},
    $b_4: #{$b_4},
    $b_5: #{$b_5},
    $b_6: #{$b_6},
    $b_7: #{$b_7},
    $b_8: #{$b_8},
    $b_9: #{$b_9},

    $i_1: #{$i_1},
    $i_2: #{$i_2},
    $i_3: #{$i_3},
    $i_4: #{$i_4},
    $i_5: #{$i_5},
    $i_6: #{$i_6},
    $i_7: #{$i_7},
    $i_8: #{$i_8},
    $i_9: #{$i_9},

    $v_1: #{$v_1},
    $v_2: #{$v_2},
    $v_3: #{$v_3},
    $v_4: #{$v_4},
    $v_5: #{$v_5},
    $v_6: #{$v_6},
    $v_7: #{$v_7},
    $v_8: #{$v_8},
    $v_9: #{$v_9},

    $h_1: #{$h_1},
    $h_2: #{$h_2},
    $h_3: #{$h_3},
    $h_4: #{$h_4},
    $h_5: #{$h_5},
    $h_6: #{$h_6},
    $h_7: #{$h_7},
    $h_8: #{$h_8},
    $h_9: #{$h_9},

    $m_1: #{$m_1},
    $m_2: #{$m_2},
    $m_3: #{$m_3},
    $m_4: #{$m_4},
    $m_5: #{$m_5},
    $m_6: #{$m_6},
    $m_7: #{$m_7},
    $m_8: #{$m_8},
    $m_9: #{$m_9}
);







// @each $x, $y in $_ {
//     .#{$x} {
//         background: unquote('rgba(#{$y},1)');
//     }
//     @for $z from 1 through 9 {
//         .#{$x}_#{$z} {
//             background: unquote('rgba(#{$y},#{calc($z / 10)})');
//         }
//     }
// }


// @include blur(calc(calc(10 - $z) / 10));

// succesive blocks of iterations printing from dark to light from left to right
// 009 -> 1-0.1
// 001...



$wht: $m_1;
$gry: $m_5;
$blk: $m_9;

$red: $r_5;
$org: $o_5;
$ylw: $y_5;
$grn: $g_5;
$blu: $b_5;
$ind: $i_5;
$vlt: $v_5;
$hmn: $h_5;

$am: $wht;
$pm: $blk;

$dark-mode: $am;
$fg: $m_9;
$bg: $m_1;



// @each $x, $y in $_ {
//     .#{$x} {
//         background: unquote('rgba(#{$y},1)');
//     }
//     @for $z from 1 through 9 {
//         .#{$x}_#{$z} {
//             background: unquote('rgba(#{$y},#{calc($z / 10)})');
//         }
//     }
// }


// @include blur(calc(calc(10 - $z) / 10));

// @function      rgb($_){
//   @return uq(
//            'rgb(#{$_})'
//   );
// }  */

// succesive blocks of iterations printing from dark to light from left to right
// 009 -> 1-0.1
// 001...
