

/* to:do */

/* 1. Length Properties: */

	/* width */
	/* height */

	/* margin */

	/* padding */

	/* border-width */

	/* border-radius */

	/* font-size */

	/* line-height */

/* 2. Angle Properties */

	/* rotate */
	/* skew */
	/* perspective */

/* 3. Time Properties: */

	/* animation-duration */
	/* transition-duration */

/* 4. Opacity: */


	.opaque_9{opacity: 0.9;}
	.opaque_8{opacity: 0.8;}
	.opaque_7{opacity: 0.7;}
	.opaque_6{opacity: 0.6;}
	.opaque_5{opacity: 0.5;}
	.opaque_4{opacity: 0.4;}
	.opaque_3{opacity: 0.3;}
	.opaque_2{opacity: 0.2;}
	.opaque_1{opacity: 0.1;}


/* 5. Flexbox Properties: */

	/* flex-grow */
	/* flex-shrink */
	/* flex-basis */

/* 6. Grid Properties: */

	/* grid-template-columns */
	/* grid-template-rows */
	/* grid-column-gap */
	/* grid-row-gap */
	/* grid-column-start */
	/* grid-column-end */
	/* grid-row-start */
	/* grid-row-end */
	/* grid-column */
	/* grid-row */
	/* grid-area */
	/* gap */

/* 7. Transform Properties: */

	/* scale */
	/* translate */
	/* rotate */
	/* skew */

/* 8. Others: */

	.z0{z-index: 0;}
	.z1{z-index: 1;}
	.z2{z-index: 2;}
	.z3{z-index: 3;}
	.z4{z-index: 4;}
	.z5{z-index: 5;}
	.z6{z-index: 6;}
	.z7{z-index: 7;}
	.z8{z-index: 8;}
	.z9{z-index: 9;}

	/* outline-width */
	/* perspective */



.a{position: absolute;}
.s{position: sticky  ;}
.d{position: default ;}
.f{position: fixed   ;}
.r{position: relative;}
.s{position: static  ;} 



.t{top:    0;}
.r{right:  0;}
.b{bottom: 0;}
.l{left:   0;}
.c{margin: auto;}


.tr{top:    0; right: 0;}
.bl{bottom: 0; left:  0;}
.tl{top:    0; left:  0;}
.br{bottom: 0; right: 0;}

.ct{top: 0;}
.cr{top: 50%; transform: translateY(-50%);}
.cb{bottom: 0;}
.cl{left: 0;}



.pt{padding-top: 0;}
.pr{padding-right: 0;}
.pb{padding-bottom: 0;}
.pl{padding-left: 0;}

.mt{margin-top: 0;}
.mr{margin-right: 0;}
.mb{margin-bottom: 0;}
.ml{margin-left: 0;}






.pm *{

--bg: var(--pm);
--fg: var(--am);

background: var(--bg);
color:      var(--fg);

}


.am *{

--bg: var(--am);
--fg: var(--pm);

background: var(--bg);
color:      var(--fg);

}



