// Zero | ––––– |
// • –––––––––– •
// | *          |
// • –––––––––– •

*, *:after, *:before{
  -webkit-box-sizing:  $box;
  -moz-box-sizing:     $box;
  box-sizing:          $box;
}


*{
  outline:                0;
  padding:                0;
  margin:                 0;
  border:                 0;
  @include         vendor();
}

